---
import { Image } from "astro:assets";
import astroIcon from "../assets/svg/astro.svg";
import reactIcon from "../assets/svg/react.svg";
import vueIcon from "../assets/svg/vue.svg";
import angularIcon from "../assets/svg/angular.svg";
import nodejsIcon from "../assets/svg/nodejs.svg";
import expressIcon from "../assets/svg/express.svg";
import springBootIcon from "../assets/svg/springboot.svg";
import postgresIcon from "../assets/svg/postgres.svg";
import redisIcon from "../assets/svg/redis.svg";
import mysqlIcon from "../assets/svg/mysql.svg";
import typescriptIcon from "../assets/svg/typeScript.svg";
import pythonIcon from "../assets/svg/python.svg";
import javaIcon from "../assets/svg/java.svg";
import cIcon from "../assets/svg/C.svg";
import gitIcon from "../assets/svg/git.svg";
import dockerIcon from "../assets/svg/docker.svg";
import graphqlIcon from "../assets/svg/graphql.svg";

interface Technology {
	title: string;
	icon: ImageMetadata;
}

interface SkillCategory {
	category: string;
	technologies: Technology[];
}

const skills: SkillCategory[] = [
	{
		category: "Frontend",
		technologies: [
			{ title: "Astro", icon: astroIcon },
			{ title: "React", icon: reactIcon },
			{ title: "Vue", icon: vueIcon },
			{ title: "Angular", icon: angularIcon },
		],
	},
	{
		category: "Backend",
		technologies: [
			{ title: "Node.js", icon: nodejsIcon },
			{ title: "Express", icon: expressIcon },
			{ title: "Spring Boot", icon: springBootIcon },
		],
	},
	{
		category: "Data Management",
		technologies: [
			{ title: "PostgreSQL", icon: postgresIcon },
			{ title: "Redis", icon: redisIcon },
			{ title: "MySql", icon: mysqlIcon },
		],
	},
	{
		category: "Programming Languages",
		technologies: [
			{ title: "TypeScript", icon: typescriptIcon },
			{ title: "Python", icon: pythonIcon },
			{ title: "Java", icon: javaIcon },
			{ title: "C", icon: cIcon },
		],
	},
	{
		category: "Others",
		technologies: [
			{ title: "Git", icon: gitIcon },
			{ title: "Docker", icon: dockerIcon },
			{ title: "GraphQL", icon: graphqlIcon },
		],
	},
];
---

<section
	id="skills"
	class="py-12 border-t border-[#ffffff10] text-[var(--white)]">
	<div class="max-w-5xl mx-auto px-4">
		<h3 class="text-4xl md:text-5xl font-medium mb-8">Skills</h3>

		<div class="flex flex-col lg:flex-row items-start gap-8">
			<div class="w-full text-left pt-3 md:pt-9">
				<div class="relative w-full">
					<div
						class="overflow-x-auto border border-neutral-800 rounded-lg">
						<table class="w-full table-auto min-w-[600px]">
							<tbody>
								{
									skills.map((skill) => (
										<tr class="border-b border-neutral-800 last:border-b-0">
											<th class="bg-neutral-900 p-4 text-left whitespace-nowrap">
												{skill.category}
											</th>
											{skill.technologies.map((tech) => (
												<td class="p-4">
													<div class="flex items-center gap-3">
														<div class="avatar">
															<div class="mask mask-squircle h-6 w-6">
																<Image
																	src={
																		tech.icon
																	}
																	alt={`${tech.title} Icon`}
																/>
															</div>
														</div>
														<div>
															<div class="font-bold whitespace-nowrap">
																{tech.title}
															</div>
														</div>
													</div>
												</td>
											))}
										</tr>
									))
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
