---
import LetterGlitch from "@/React/LetterGlitch";

interface Technology {
	title: string;
	icon: string;
}

interface SkillCategory {
	category: string;
	technologies: Technology[];
}

const skills: SkillCategory[] = [
	{
		category: "Frontend",
		technologies: [
			{ title: "Astro", icon: "astro.svg" },
			{ title: "React", icon: "react.svg" },
			{ title: "Vue", icon: "vue.svg" },
			{ title: "Angular", icon: "angular.svg" },
		],
	},
	{
		category: "Backend",
		technologies: [
			{ title: "Node.js", icon: "nodejs.svg" },
			{ title: "Express", icon: "express.svg" },
			{ title: "Spring Boot", icon: "springboot.svg" },
		],
	},
	{
		category: "Data Management",
		technologies: [
			{ title: "PostgreSQL", icon: "postgres.svg" },
			{ title: "Redis", icon: "redis.svg" },
			{ title: "MySql", icon: "mysql.svg" },
		],
	},
	{
		category: "Programming Languages",
		technologies: [
			{ title: "TypeScript", icon: "typeScript.svg" },
			{ title: "Python", icon: "python.svg" },
			{ title: "Java", icon: "java.svg" },
			{ title: "C", icon: "C.svg" },
		],
	},
	{
		category: "Others",
		technologies: [
			{ title: "Git", icon: "git.svg" },
			{ title: "Docker", icon: "docker.svg" },
		],
	},
];
---

<section
	id="skills"
	class="py-12 border-t border-[#ffffff10] text-[var(--white)]">
	<div class="max-w-5xl mx-auto px-4">
		<h3 class="text-4xl md:text-5xl font-medium mb-8">Skills</h3>

		<div class="flex flex-col lg:flex-row items-start gap-8">
			<div class="w-full text-left pt-3 md:pt-9">
				<div class="relative w-full">
					<div
						class="overflow-x-auto border border-neutral-800 rounded-lg">
						<table class="w-full table-auto min-w-[600px]">
							<tbody>
								{
									skills.map((skill) => (
										<tr class="border-b border-neutral-800 last:border-b-0">
											<th class="bg-neutral-900 p-4 text-left whitespace-nowrap">
												{skill.category}
											</th>
											{skill.technologies.map((tech) => (
												<td class="p-4">
													<div class="flex items-center gap-3">
														<div class="avatar">
															<div class="mask mask-squircle h-6 w-6">
																<img
																	src={`svg/${tech.icon}`}
																	alt={`${tech.title} Icon`}
																/>
															</div>
														</div>
														<div>
															<div class="font-bold whitespace-nowrap">
																{tech.title}
															</div>
														</div>
													</div>
												</td>
											))}
										</tr>
									))
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
